---
layout: default
top: Kane的个人网站
---
<div id="page">
<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
  <div id="search-wrap">
  <a href="/rss.xml"><img id="rss" src="/files/css/rss.gif" alt="rss"></a>
  <img id="search"  src="/files/css/search.gif" alt="search" onclick="discontrol('search-form')">

  <div id="search-form" class="navbar-search" style=" display: none;">

<div id='cse' >Loading</div>

</div>
</div>
</div>
<br>
    {{ content }}

</div>
<!--{% include JB/bisquscount.html %}-->